<a href="/add/doctor">Add a Doctor</a>
<a href="/add/patient_doctor">Add a Patient</a>

<% if @doctors.any?() %>
<h3>I am:</h3>
<ul>
  <% @doctors.each() do |doctor| %>
  <li><%= doctor.name %></li>
  <% end %>
</ul>
<% else %>
  <h2>We dont have any Doctors</h2>
<% end %>
<a href="/">home</a>
