
<form action="/add/doctor" method="post">
  <label for="doctor_name">Doctor Name</label>
  <input type="text" name="doctor_name" required>
  <label for="spec">Doctors Speciality</label>
  <input type="text" name="doctor_spec" required>
  <button type="submit">Add Doctor</button>
</form>
